In [113]:
import pandas as pd
import numpy as np

In [114]:
df = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/SampleSuperstore.csv")

In [115]:
ship_mode = df["Ship Mode"].to_numpy()
print(ship_mode)

['Second Class' 'Second Class' 'Second Class' ... 'Standard Class'
 'Standard Class' 'Second Class']

In [116]:
segment = df["Segment"].to_numpy()
print(segment)

['Consumer' 'Consumer' 'Corporate' ... 'Consumer' 'Consumer' 'Consumer']

In [117]:
country = df["Country"].to_numpy()
print(country)

['United States' 'United States' 'United States' ... 'United States'
 'United States' 'United States']

In [118]:
city = df["City"].to_numpy()
print(city)

['Henderson' 'Henderson' 'Los Angeles' ... 'Costa Mesa' 'Costa Mesa'
 'Westminster']

In [119]:
state = df["State"].to_numpy()
print(state)

['Kentucky' 'Kentucky' 'California' ... 'California' 'California'
 'California']

In [120]:
postal_code = df["Postal Code"].to_numpy()
print(postal_code)

[42420 42420 90036 ... 92627 92627 92683]

In [121]:
Region = df["Region"].to_numpy()
print(Region)

['South' 'South' 'West' ... 'West' 'West' 'West']

In [122]:
Category = df["Category"].to_numpy()
print(Category)

['Furniture' 'Furniture' 'Office Supplies' ... 'Technology'
 'Office Supplies' 'Office Supplies']

In [123]:
Sub_Category = df["Sub-Category"].to_numpy()
print(Sub_Category)

['Bookcases' 'Chairs' 'Labels' ... 'Phones' 'Paper' 'Appliances']

In [124]:
Sales = df["Sales"].to_numpy()
print(Sales)

[261.96  731.94   14.62  ... 258.576  29.6   243.16 ]

In [125]:
Quantity = df["Quantity"].to_numpy()
print(Quantity)

[2 3 2 ... 2 4 2]

In [126]:
Discount = df["Discount"].to_numpy()
print(Discount)

[0.  0.  0.  ... 0.2 0.  0. ]

In [127]:
Profit = df["Profit"].to_numpy()
print(Profit)

[ 41.9136 219.582    6.8714 ...  19.3932  13.32    72.948 ]

In [128]:
print("The sales dataset has been loaded, and relevant columns have been converted into NumPy arrays:")
if 'df' in locals():
    numpy_array_names = [
        "ship_mode", "segment", "country", "city", "state", "postal_code",
        "region", "category", "sub_category", "sales", "quantity", "discount", "profit"
    ]

    for name in numpy_array_names:
        if name in locals():
            arr = locals()[name]
            print(f"- '{name}' (shape: {arr.shape}, dtype: {arr.dtype})")
        else:
            print(f"- '{name}' was not found or not yet defined.")
else:
    print("The DataFrame 'df' was not found. Please ensure the dataset is loaded.")

The sales dataset has been loaded, and relevant columns have been converted into NumPy arrays:
- 'ship_mode' (shape: (9994,), dtype: object)
- 'segment' (shape: (9994,), dtype: object)
- 'country' (shape: (9994,), dtype: object)
- 'city' (shape: (9994,), dtype: object)
- 'state' (shape: (9994,), dtype: object)
- 'postal_code' (shape: (9994,), dtype: int64)
- 'region' was not found or not yet defined.
- 'category' was not found or not yet defined.
- 'sub_category' was not found or not yet defined.
- 'sales' was not found or not yet defined.
- 'quantity' was not found or not yet defined.
- 'discount' was not found or not yet defined.
- 'profit' was not found or not yet defined.

In [129]:
total_sales = np.sum(Sales)
average_sales = np.mean(Sales)

print(f"Total Sales: {total_sales:.2f}")
print(f"Average Sales: {average_sales:.2f}")

Total Sales: 2297200.86
Average Sales: 229.86

In [130]:
# Extract the first 5 sales records
first_five_sales = Sales[:5]
print(f"First 5 sales records: {first_five_sales}")

# Extract sales records from index 10 to 14 (inclusive)
sales_10_to_14 = Sales[10:15]
print(f"Sales records from index 10 to 14: {sales_10_to_14}")

# Extract every 10th sales record
every_tenth_sales = Sales[::1000]
print(f"Every 1000th sales record: {every_tenth_sales}")

# Extract sales records where sales are greater than 500
high_sales_records = Sales[Sales > 500]
print(f"Sales records greater than 500 (first 10 examples): {high_sales_records[:10]}")
print(f"Total count of sales records greater than 500: {len(high_sales_records)}")

First 5 sales records: [261.96   731.94    14.62   957.5775  22.368 ]
Sales records from index 10 to 14: [1706.184  911.424   15.552  407.976   68.81 ]
Every 1000th sales record: [261.96   44.02  199.95   44.416  63.47   79.99   91.36   25.76  263.96
   8.226]
Sales records greater than 500 (first 10 examples): [ 731.94    957.5775  907.152  1706.184   911.424   665.88   1044.63
 3083.43   1097.544   532.3992]
Total count of sales records greater than 500: 1162

In [131]:
mean_sales = np.mean(Sales)
median_sales = np.median(Sales)
variance_sales = np.var(Sales)
std_dev_sales = np.std(Sales)

print(f"Mean Sales: {mean_sales:.2f}")
print(f"Median Sales: {median_sales:.2f}")
print(f"Variance of Sales: {variance_sales:.2f}")
print(f"Standard Deviation of Sales: {std_dev_sales:.2f}")

Mean Sales: 229.86
Median Sales: 54.49
Variance of Sales: 388395.59
Standard Deviation of Sales: 623.21

In [132]:
unit_price_per_item = Sales / Quantity
revenue_per_item = unit_price_per_item * Quantity

print(f"First 5 calculated Unit Prices per item: {unit_price_per_item[:5]}")
print(f"First 5 calculated Revenues per item (should be same as sales): {revenue_per_item[:5]}")

print(f"\nAre calculated revenues equal to the original sales array? {np.allclose(revenue_per_item, Sales)}")

First 5 calculated Unit Prices per item: [130.98   243.98     7.31   191.5155  11.184 ]
First 5 calculated Revenues per item (should be same as sales): [261.96   731.94    14.62   957.5775  22.368 ]

Are calculated revenues equal to the original sales array? True

In [133]:
profit_margin = (Profit /Sales) * 100

print(f"First 10 calculated Profit Margins: {profit_margin[:10].round(2)}%")
print(f"Average Profit Margin across all sales: {np.mean(profit_margin).round(2)}%")

# Find sales where profit margin is negative (indicating a loss)
loss_making_sales_count = np.sum(profit_margin < 0)
print(f"Number of sales with a negative profit margin (loss): {loss_making_sales_count}")

First 10 calculated Profit Margins: [ 16.    30.    47.   -40.    11.25  29.    27.    10.    31.25  30.  ]%
Average Profit Margin across all sales: 12.03%
Number of sales with a negative profit margin (loss): 1871